<!DOCTYPE html>
<html>

<div class="example8">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
</div>

<style>
/* Example 8*/

div.example8 {
    width: 90%;
    margin: 0em auto 0em auto;
    grid-template-columns: repeat(3, 33.3%);
    display: grid;
    transition: all linear 0.1s;
    text-align: center;
}

div.example8 div {
    margin: 0.1em auto 0.1em auto;
    width: 100%;
    padding: 2em 0 2em;
    animation-name: example8;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    background: rgb(223, 125, 44);
}

@keyframes example8 {
    from {
        transform: rotateY(-180deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
</style>
</html>