*.log
/test
maps
map.json
*.pyc
__pycache__
account.json
*.dlm
*.d2p
unpacked_raw_msg
/.venv/
/.vscode/
creds.json
botCharactersDB.json
content\maps
test.sh
/my_tests/
/pyd2bot/build/
/pyd2bot/.buildEnv/
/pydofus2/build/
sources