<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Grinder</h3>
    </div>
    <ul class="list-unstyled components">
        <li <% if (active==='dashboard' ) { %> class="active" <% } %>>
                <a href="#">Dashboard</a>
        </li>
        <li <% if (active==='characters' ) { %> class="active" <% } %>>
                <a href="<%=accountUrls.manageAccountsUrl%>">Accounts</a>
        </li>
        <li <% if (active==='sessions' ) { %> class="sessions" <% } %>>
                <a href="#">Sessions</a>
        </li>
        <li <% if (active==='paths' ) { %> class="paths" <% } %>>
                <a href="#">Paths</a>
        </li>
    </ul>
</nav>